<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.techacademy.marika.terao.travelplan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Brazil"></activity>
        <activity android:name=".Philippines" />
        <activity android:name=".Hawaii" />
        <activity android:name=".Australia" />
        <activity android:name=".Germany" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/gradation" />

        <activity android:name=".Korea" />
        <activity android:name=".Thai" />
        <activity android:name=".Vietnam" />
        <activity android:name=".London" />
        <activity android:name=".InternationlNeed2" />
        <activity android:name=".InternationalNeed" />
        <activity android:name=".Yakushima" />
        <activity android:name=".Kagawa" />
        <activity android:name=".Kinosaki" />
        <activity
            android:name=".Wakayama"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JapanNeed"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InternationalWant"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InternationalHowlong"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>