<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.techacademy.marika.terao.travelplan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".internationl_need2"></activity>
        <activity android:name=".International_need" />
        <activity android:name=".yakushima" />
        <activity android:name=".kagawa" />
        <activity android:name=".kinosaki" />
        <activity
            android:name=".wakayama"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".japan_need"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".international_want"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".international_howlong"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>